<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light p-3 mb-2 navbar-dark bg-gradient shadow-sm" style="background-color: #9f0000">
  <div class="container">
    <a class="navbar-brand" href="#">Quality Asurance</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <li>
          <a class="nav-item nav-link" href="/">Home</a>
        </li>
        <li>
          <a class="nav-item nav-link" href="/login">Login</a>
        </li>
        <li>
          <a class="nav-item nav-link" href="/register">Register</a>
        </li>
      </div>
    </div>
  </div>
</nav>
