Navbar .navbar-brand {
  font: 32px Poppins;
}

/* Jumbotron */

.jumbotron .container {
  color: #383838;
  text-align: center;
  position: relative;
  z-index: 1;
}

/* Info Panel */
.info-panel {
  background-color: rgb(254, 255, 219);
  padding: 30px;
  margin-top: -150px;
  border-radius: 70px;
  box-shadow: 0 3px 20px rgba(20, 20, 20, 0.781);
}
.info-panel-info {
  background-color: #fffffc;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 100px;
  border-radius: 70px;
  box-shadow: 0 3px 20px rgb(20, 20, 20);
}

.info-panel-login {
  background-color: #fffffc;
  padding: 30px;
  margin-top: 150px;
  border-radius: 30px;
  box-shadow: 0 3px 20px #191919;
}

.info-panel-galeri {
  background-color: #fffffc;
  padding: 30px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.6);
}

.info-panel h4 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  text-transform: uppercase;
}

.info-panel p {
  font-size: 14px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
}

/* Workingspace */
.workingspace {
  margin-top: 120px;
  text-align: center;
}

.workingspace img {
  margin-bottom: 20px;
}

.workingspace h2 {
  font-size: 52px;
  text-transform: uppercase;
  font-weight: 200;
}

.workingspace h2 span {
  font-weight: 450;
}

.workingspace p {
  font-size: 18px;
  color: #4c4d4a;
  font-weight: 180;
}

/* Utility */
.tombol {
  border-radius: 40px;
  text-transform: uppercase;
}

/* RESPONSIVE */
@media (min-width: 992px) {
  .navbar {
    padding-top: 20px;
  }

  .navbar-brand,
  .nav-link {
    color: rgba(255, 255, 255, 0.89) !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  }

  .nav-link {
    text-transform: uppercase;
    margin-right: 20px;
  }

  .nav-link:hover::after,
  .nav-link.active::after {
    content: "";
    display: block;
    border-bottom: 3px solid #636363;
    margin: auto;
    margin-bottom: -8px;
    width: 50%;
    padding-top: 5px;
  }

  .jumbotron {
    margin-top: -90px;
    height: 640px;
  }

  .jumbotron .display-4 {
    font-size: 5em;
    margin-top: 150px;
  }
  .jumbotron .display-5 {
    font-size: 2em;
    margin-top: 150px;
  }

  .workingspace {
    text-align: left;
  }

  .testimonial p {
    font-size: 2em;
  }
}
